.movie{
    background-color: black;
    border-radius: 5px;
    padding: 50px;
}
.col-md-4 img{
    display: block;
    width: 80%;
}
.plotSection{
    color:#fff;
    border-bottom: 1px solid gray;
}

@media(max-width:780px){
    h2#movieTitle{
        margin: 20px;
        
    }
}